<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>{{vueTitle}}</h1>
    <ul>
      <li  v-for="(item, index) in letters" :key="index">{{'Vue 实例 ' +index + ' ' + item}}</li>
    </ul>
    <!-- <h2>{{parTitle}}</h2> -->  <!-- 报错 -->  
    <!-- <h2>{{chiTitle}}</h2> -->  <!-- 报错 -->  
    <parent-cpn :pletters='letters'></parent-cpn>
  </div>

  <template id="parentCpn">
    <div>
      <!-- <h1>{{vueTitle}}</h1> -->  <!-- 组件中不能直接访问Vue实例中的data -->  
      <h2>{{parTitle}}</h2>
      <ul>
        <li  v-for="(item, index) in pletters" :key="index">{{ '父组件 ' +index + ' ' + item }}</li>
      </ul>
      <!-- <h2>{{chiTitle}}</h2> -->  <!-- 报错 -->  
      <child-cpn :cletters='pletters'></child-cpn>
    </div>
  </template>

  <template id="childCpn">
    <div>
      <!-- <h1>{{vueTitle}}</h1> -->  <!-- 组件中不能直接访问Vue实例中的data -->  
      <!-- <h2>{{parTitle}}</h2> -->  <!-- 报错 -->  
      <h2>{{chiTitle}}</h2>
      <ul>
        <li  v-for="(item, index) in cletters" :key="index">{{ '子组件 ' +index + ' ' + item }}</li>
      </ul>
    </div>
  </template>

  <script src="../node_modules/vue/dist/vue.js"></script>
  <script>
    let childCpn = {
      template: "#childCpn",
      data() {
        return {
          chiTitle: "子组件",
        }
      },
      props:['cletters'],
    }

    let parentCpn = {
      data() {
        return {
          parTitle: "父组件"
        }
      },
      props:['pletters',],
      template: "#parentCpn",
      components: {
        "child-cpn": childCpn
      }
    }

    new Vue({
      el: "#app",
      data: {
        vueTitle: "Vue实例",
        letters: ['a', 'b', 'c', 'd']
      },
      components: {
        "parent-cpn": parentCpn
      }
    })
  </script>
</body>

</html>